<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container bg-info">
        <div class="col">
            <h1 class="display-4 mb-4">おみくじ</h1>
            <p class="h6 alert alert-primary">運勢を占う</p>
        </div>
        <div id="result">
            <!-- ここでIDを設定します -->
            <button id="omikujiButton">おみくじボタン</button>
        </div>
    </div>
    <script src="js/sample.js"></script>
</body>
</html>